.jumbotron{
  background-image: url('images/wallpaper.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 body{
  background-image:
  url("images/backgroundimg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#space {
  height: 450px;
}

#spacesmall {
  height: 10px;
}
