.jumbotron{
  background-image: url('images/wallpaper.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 body{
  background-image:
  url("images/backgroundimg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#spacetop {
  height: 50px;
}

#space {
  height: 150px;
}

#spacesmall {
  height: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel {
  width:1000px;
  height:580px;
}
